$main-colour: #9a55b6;


body {
  margin: 0;
  display: flex;
  justify-content: center;
  // .container  {
  //   .form-container {
  //     width: 50%;
  //     position: absolute;
  //   }
  // }
}

