$main-colour: #9a55b6;
@font-face {
  font-family: 'Nanum Gothic', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Nanum+Gothic');
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: 'Nanum Gothic', sans-serif;
  // .container  {
  //   .form-container {
  //     width: 50%;
  //     position: absolute;
  //   }
  // }
}

